absl-py==0.11.0
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
async-timeout==3.0.1
attrs==20.3.0
blessings==1.7
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colorful==0.5.4
cycler==0.10.0
faiss==1.7.0
filelock==3.0.12
google-api-core==1.26.0
google-auth==1.27.0
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
gpustat==0.6.0
grpcio==1.35.0
hiredis==1.1.0
idna==2.10
joblib==1.0.1
jsonschema==3.2.0
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282420641/work
Markdown==3.3.3
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
multidict==5.1.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603570489231/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.12
opencensus-context==0.1.2
packaging==20.9
pandas==1.2.2
Pillow @ file:///tmp/build/80754af9/pillow_1609786786540/work
prometheus-client==0.9.0
protobuf==3.14.0
psutil==5.8.0
py-spy==0.3.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==3.11.3
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytorch-metric-learning==0.9.96
pytz==2021.1
PyYAML==5.4.1
ray==1.2.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
scikit-learn==0.24.1
scipy==1.6.1
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1605205327372/work
tabulate==0.8.8
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
threadpoolctl==2.1.0
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchsummary==1.5.1
torchvision==0.8.2
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm @ file:///tmp/build/80754af9/tqdm_1611857934208/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.3
Werkzeug==1.0.1
yarl==1.6.3
